.dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.dropdownButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  color: white; 
  transition: color 0.3s; /* Smooth color transition */
  z-index: 10000; 
}

.dropdownButton.open {
  color: white; /* White color when open */
}

.dropdownMenu {
  display: block;
  position: absolute;
  top: 50px; /* Position below the navbar */
  right: -10px;
  background-color: rgb(74, 34, 159);
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Ensure menu is below the button but above other content */
}

.dropdownItem {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownItem:hover {
  background-color: #575757;
}

@media (max-width: 450px) { 
  .dropdown {
    display: inline;
  }
}